// SPDX-License-Identifier: GPL-2.0 OR X11
/*
 * Copyright (C) 2018 Mans Rullgard <mans@mansr.com>
 */

/dts-v1/;

#include "sun7i-a20-einstein-cerbo-common.dtsi"

/ {
	model = "Cerbo GX";
	compatible = "victronenergy,cerbo-gx",
		     "cubietech,einstein",
		     "allwinner,sun7i-a20";

	/* Prior to PCB rev A9a, power on USB port 3 is controlled by
	   the internal hub.  This dummy regulator (the GPIO is not
	   connected) with a delay ensures proper sequencing. */
	reg_usb_hdmi: usb-hdmi {
		compatible = "regulator-fixed";
		regulator-name = "usb-hdmi";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&reg_usb0_vbus>;
		startup-delay-us = <1500000>;
		enable-active-high;
		gpio = <&pio 1 13 GPIO_ACTIVE_HIGH>;	/* PB13 */
	};
};

/* Internal USB hub or USB wifi/bt enable */
&reg_usb0_vbus {
	gpio = <&pio 1 8 GPIO_ACTIVE_HIGH>;		/* PB8 */
};

/* External USB port 1 */
&reg_usb1_vbus {
	gpio = <&pio 8 2 GPIO_ACTIVE_HIGH>;		/* PI2 */
};

/* External USB port 2 */
&reg_usb2_vbus {
	gpio = <&pio 8 3 GPIO_ACTIVE_HIGH>;		/* PI3 */
};

&ext_wdt {
	gpios = <&pio 1 12 GPIO_ACTIVE_HIGH>;		/* PB12 */
};

&mmc3 {
	status = "okay";
};

&touchscreen {
	vcc-supply = <&reg_usb_hdmi>;
	iovcc-supply = <&reg_usb_hdmi>;
};

&backlight {
	vcc-supply = <&reg_usb_hdmi>;
};

&i2c3 {
	status = "okay";

	adc@12 {
		compatible = "victronenergy,cerbo-gx-adc";
		reg = <0x12>;
		reset-gpio = <&pio 8 14 GPIO_ACTIVE_HIGH>; /* PI14 */
	};
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_ph_pins>, <&uart3_cts_rts_ph_pins>;
	uart-has-rtscts;
	status = "okay";

	slcan: can {
		compatible = "slcan";
		current-speed = <1500000>;
		flow-control;
		err-rst-on-open;
	};
};

&usb_otg {
	usb-hub@1 {
		compatible = "usb424,2422";
		reg = <1>;

		#address-cells = <1>;
		#size-cells = <0>;

		wireless-controller@1 {
			compatible = "usbbda,b720";
			reg = <1>;
		};

		port@2 {
			reg = <2>;
			status = "disabled";
		};
	};
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pio {
	gpio-line-names =
		"digital_input_2",
		"digital_input_4",
		"digital_input_1",
		"digital_input_3",
		"relay_1",
		"relay_2",
		"vebus_standby",
		"mkx_rst";
	gpio-line-numbers =
		<4>,		/* PA4 */
		<5>,		/* PA5 */
		<6>,		/* PA6 */
		<7>,		/* PA7 */
		<35>,		/* PB3 */
		<36>,		/* PB4 */
		<41>,		/* PB9 */
		<42>;		/* PB10 */
};
