// SPDX-License-Identifier: GPL-2.0 OR X11
/*
 * Copyright (C) 2018 Mans Rullgard <mans@mansr.com>
 */

/dts-v1/;
#include "sun8i-h3.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	aliases {
		mmc0 = &mmc0;
		mmc1 = &mmc2;
	};

	leds {
		compatible = "gpio-leds";

		led-green {
			label = "nanopi:green";
			gpios = <&pio 0 10 GPIO_ACTIVE_HIGH>; /* PA10 */
			linux,default-trigger = "heartbeat";
		};

		led-red {
			label = "nanopi:red";
			gpios = <&r_pio 0 10 GPIO_ACTIVE_HIGH>; /* PL10 */
			default-state = "on";
		};
	};

	reg_vdd_5v: regulator-vdd-5v {
		compatible = "regulator-fixed";
		regulator-name = "vdd-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_vdd_sys_3v3: regulator-vdd-sys-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd-sys-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vdd_5v>;
	};

	reg_vcc_dram: regulator-vcc-dram {
		compatible = "regulator-fixed";
		regulator-name = "vdd-vcc-dram";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-boot-on;
		regulator-always-on;
		gpio = <&r_pio 0 9 GPIO_ACTIVE_HIGH>; /* PL9 */
		enable-active-high;
		vin-supply = <&reg_vdd_sys_3v3>;
	};

	reg_vdd_cpux: regulator-cpux {
		compatible = "regulator-gpio";
		regulator-name = "vdd-cpux";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1300000>;
		regulator-ramp-delay = <50>; /* 4ms */
		vin-supply = <&reg_vdd_sys_3v3>;
		enable-gpios = <&r_pio 0 8 GPIO_ACTIVE_HIGH>; /* PL8 */
		enable-active-high;
		gpios = <&r_pio 0 6 GPIO_ACTIVE_HIGH>; /* PL6 */
		gpios-states = <0x1>;
		states = <1100000 0x0>,
			 <1300000 0x1>;
	};

	reg_usb0_vbus: usb0-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&r_pio 0 2 GPIO_ACTIVE_HIGH>; /* PL2 */
		enable-active-high;
	};
};

&cpu0 {
	cpu-supply = <&reg_vdd_cpux>;
};

&emac {
	phy-handle = <&int_mii_phy>;
	phy-mode = "mii";
};

&mmc0 {
	vmmc-supply = <&reg_vdd_sys_3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_8bit_pins>;
	vmmc-supply = <&reg_vdd_sys_3v3>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&pio {
	vcc-pa-supply = <&reg_vdd_sys_3v3>;
	vcc-pc-supply = <&reg_vdd_sys_3v3>;
	vcc-pe-supply = <&reg_vdd_sys_3v3>;
	vcc-pf-supply = <&reg_vdd_sys_3v3>;
	vcc-pg-supply = <&reg_vdd_sys_3v3>;
};

&r_pio {
	vcc-pl-supply = <&reg_vdd_sys_3v3>;
};

&usbphy {
	usb0_id_det-gpios = <&pio 6 12 GPIO_ACTIVE_HIGH>; /* PG12 */
	usb0_vbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};
