#include <dt-bindings/gpio/gpio.h>

#include "k3-am625.dtsi"

/ {
	compatible = "sancloud,am625-victron", "ti,am625";

	aliases {
		i2c0 = &main_i2c1;
		i2c1 = &main_i2c2;
		i2c2 = &mcu_i2c0;
		i2c3 = &main_i2c0;
		mmc0 = &sdhci0;
		mmc1 = &sdhci1;
		serial0 = &main_uart0;
		serial1 = &main_uart2;
		serial2 = &main_uart4;
		serial3 = &main_uart5;
		serial4 = &main_uart6;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x00000000 0x80000000 0x00000000 0x40000000>; /* 1G */
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		rtos_ipc_memory_region: ipc-memories@9c800000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9c800000 0x00 0x00300000>;
			no-map;
		};

		mcu_m4fss_dma_memory_region: m4f-dma-memory@9cb00000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9cb00000 0x00 0x100000>;
			no-map;
		};

		mcu_m4fss_memory_region: m4f-memory@9cc00000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9cc00000 0x00 0xe00000>;
			no-map;
		};

		wkup_r5fss0_core0_dma_memory_region: r5f-dma-memory@9da00000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9da00000 0x00 0x00100000>;
			no-map;
		};

		wkup_r5fss0_core0_memory_region: r5f-memory@9db00000 {
			compatible = "shared-dma-pool";
			reg = <0x00 0x9db00000 0x00 0x00c00000>;
			no-map;
		};

		lpm_ctx_ddr: lpm-memory@9e700000 {
			reg = <0x00 0x9e700000 0x00 0x80000>;
			alignment = <0x1000>;
		};

		secure_tfa_ddr: tfa@9e780000 {
			reg = <0x00 0x9e780000 0x00 0x80000>;
			alignment = <0x1000>;
			no-map;
		};

		secure_ddr: optee@9e800000 {
			reg = <0x00 0x9e800000 0x00 0x01800000>;  /* OP-TEE */
			alignment = <0x1000>;
			no-map;
		};
	};

	emmc_pwrseq: emmc-pwrseq {
		compatible = "mmc-pwrseq-emmc";
		pinctrl-names = "default";
		pinctrl-0 = <&emmc_pwrseq_pins>;
		reset-gpios = <&main_gpio0 16 GPIO_ACTIVE_LOW>;
	};

	vsys_5v0: regulator-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "vsys_5v0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vsys_5v0>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_sd: regulator-sd {
		compatible = "regulator-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&vdd_sd_pins>;
		regulator-name = "vdd_sd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		vin-supply = <&vdd_3v3>;
		gpios = <&main_gpio1 49 GPIO_ACTIVE_HIGH>;
		states = <1800000 0x0>,
			 <3300000 0x1>;
	};

	timer4_pwm: pwm {
		compatible = "ti,omap-dmtimer-pwm";
		ti,timers = <&main_timer4>;
		#pwm-cells = <3>;
	};

	ethphy_clk: ethphy-clk {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		pwms = <&timer4_pwm 0 20 0>;			  /* 50 MHz */
	};
};

&a53_opp_table {
	/* Requires VDD_CORE to be at 0.85V */
	opp-1400000000 {
		opp-hz = /bits/ 64 <1400000000>;
		opp-supported-hw = <0x01 0x0004>;
	};
};

&mailbox0_cluster0 {
	mbox_m4_0: mbox-m4-0 {
		ti,mbox-rx = <0 0 0>;
		ti,mbox-tx = <1 0 0>;
	};
};

&main_pmx0 {
	main_timer4_pins: main-timer4-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01f0, PIN_OUTPUT, 4)	  /* A18 */
		>;
	};

	main_uart0_pins: main-uart0-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01c8, PIN_INPUT, 0)	  /* D14 */
			AM62X_IOPAD(0x01cc, PIN_OUTPUT, 0)	  /* E14 */
		>;
	};

	main_uart2_pins: main-uart2-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01d0, PIN_INPUT, 3)	  /* A15 */
			AM62X_IOPAD(0x01d4, PIN_OUTPUT, 3)	  /* B15 */
		>;
	};

	main_uart4_pins: main-uart4-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0124, PIN_INPUT, 3)	  /* A23 */
			AM62X_IOPAD(0x0128, PIN_OUTPUT, 3)	  /* B23 */
		>;
	};

	main_uart5_pins: main-uart5-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0108, PIN_INPUT, 3)	  /* D24 */
			AM62X_IOPAD(0x010c, PIN_OUTPUT, 3)	  /* E23 */
		>;
	};

	main_uart6_pins: main-uart6-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0194, PIN_INPUT, 3)	  /* B19 */
			AM62X_IOPAD(0x0198, PIN_OUTPUT, 3)	  /* A19 */
		>;
	};

	main_i2c0_pins: main-i2c0-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01e0, PIN_INPUT_PULLUP, 0)  /* B16 */
			AM62X_IOPAD(0x01e4, PIN_INPUT_PULLUP, 0)  /* A16 */
		>;
	};

	main_i2c1_pins: main-i2c1-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01e8, PIN_INPUT_PULLUP, 0)  /* B17 */
			AM62X_IOPAD(0x01ec, PIN_INPUT_PULLUP, 0)  /* A17 */
		>;
	};

	main_i2c2_pins: main-i2c2-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x00b0, PIN_INPUT_PULLUP, 1)  /* K22 */
			AM62X_IOPAD(0x00b4, PIN_INPUT_PULLUP, 1)  /* K24 */
		>;
	};

	main_spi0_pins: main-spi0-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01bc, PIN_OUTPUT, 0)	  /* A14 */
			AM62X_IOPAD(0x01c0, PIN_INPUT, 0)	  /* B13 */
			AM62X_IOPAD(0x01c4, PIN_OUTPUT, 0)	  /* B14 */
			AM62X_IOPAD(0x01b4, PIN_OUTPUT, 0)	  /* A13 */
		>;
	};

	main_mcan0_pins: main-mcan0-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01dc, PIN_INPUT, 0)	  /* E15 */
			AM62X_IOPAD(0x01d8, PIN_OUTPUT, 0)	  /* C15 */
		>;
	};

	cpsw_pins: cpsw-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0148, PIN_INPUT, 1)	  /* AD17 */
			AM62X_IOPAD(0x0144, PIN_INPUT, 1)	  /* AE17 */
			AM62X_IOPAD(0x0130, PIN_INPUT, 1)	  /* AE19 */
			AM62X_IOPAD(0x012c, PIN_INPUT, 1)	  /* AD19 */
			AM62X_IOPAD(0x014c, PIN_INPUT, 1)	  /* AB17 */
			AM62X_IOPAD(0x0150, PIN_INPUT, 1)	  /* AC17 */
			AM62X_IOPAD(0x0134, PIN_OUTPUT, 1)	  /* AE20 */
			AM62X_IOPAD(0x0138, PIN_OUTPUT, 1)	  /* AD20 */
		>;
	};

	mdio_pins: mdio-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0160, PIN_OUTPUT, 0)	  /* AD24 */
			AM62X_IOPAD(0x015c, PIN_INPUT, 0)	  /* AB22 */
		>;
	};

	sdhci0_pins: sdhci0-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0218, PIN_INPUT, 0)	  /* AB1 */
			AM62X_IOPAD(0x0220, PIN_INPUT, 0)	  /* Y3  */
			AM62X_IOPAD(0x0214, PIN_INPUT, 0)	  /* AA2 */
			AM62X_IOPAD(0x0210, PIN_INPUT, 0)	  /* AA1 */
			AM62X_IOPAD(0x020c, PIN_INPUT, 0)	  /* AA3 */
			AM62X_IOPAD(0x0208, PIN_INPUT, 0)	  /* Y4  */
			AM62X_IOPAD(0x0204, PIN_INPUT, 0)	  /* AB2 */
			AM62X_IOPAD(0x0200, PIN_INPUT, 0)	  /* AC1 */
			AM62X_IOPAD(0x01fc, PIN_INPUT, 0)	  /* AD2 */
			AM62X_IOPAD(0x01f8, PIN_INPUT, 0)	  /* AC2 */
		>;
	};

	sdhci1_pins: sdhci1-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0234, PIN_INPUT, 0)	  /* B22 */
			AM62X_IOPAD(0x023c, PIN_INPUT, 0)	  /* A21 */
			AM62X_IOPAD(0x0240, PIN_INPUT, 0)	  /* D17 */
			AM62X_IOPAD(0x0230, PIN_INPUT, 0)	  /* A22 */
			AM62X_IOPAD(0x022c, PIN_INPUT, 0)	  /* B21 */
			AM62X_IOPAD(0x0228, PIN_INPUT, 0)	  /* C21 */
			AM62X_IOPAD(0x0224, PIN_INPUT, 0)	  /* D22 */
		>;
	};

	emmc_pwrseq_pins: emmc-pwrseq-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0040, PIN_OUTPUT, 7)	  /* N23 */
		>;
	};

	pmic_pins: pmic-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01f4, PIN_INPUT, 0)	  /* D16 */
		>;
	};

	vdd_sd_pins: vdd-sd-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0244, PIN_OUTPUT, 7)	  /* C17 */
		>;
	};

	dss_pins: dss-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x00fc, PIN_OUTPUT, 0)	  /* Y20  */
			AM62X_IOPAD(0x00f8, PIN_OUTPUT, 0)	  /* AB24 */
			AM62X_IOPAD(0x0104, PIN_OUTPUT, 0)	  /* AC24 */
			AM62X_IOPAD(0x0100, PIN_OUTPUT, 0)	  /* AC25 */
			AM62X_IOPAD(0x00b8, PIN_OUTPUT, 0)	  /* U22  */
			AM62X_IOPAD(0x00bc, PIN_OUTPUT, 0)	  /* V24  */
			AM62X_IOPAD(0x00c0, PIN_OUTPUT, 0)	  /* W25  */
			AM62X_IOPAD(0x00c4, PIN_OUTPUT, 0)	  /* W24  */
			AM62X_IOPAD(0x00c8, PIN_OUTPUT, 0)	  /* Y25  */
			AM62X_IOPAD(0x00cc, PIN_OUTPUT, 0)	  /* Y24  */
			AM62X_IOPAD(0x00d0, PIN_OUTPUT, 0)	  /* Y23  */
			AM62X_IOPAD(0x00d4, PIN_OUTPUT, 0)	  /* AA25 */
			AM62X_IOPAD(0x00d8, PIN_OUTPUT, 0)	  /* V21  */
			AM62X_IOPAD(0x00dc, PIN_OUTPUT, 0)	  /* W21  */
			AM62X_IOPAD(0x00e0, PIN_OUTPUT, 0)	  /* V20  */
			AM62X_IOPAD(0x00e4, PIN_OUTPUT, 0)	  /* AA23 */
			AM62X_IOPAD(0x00e8, PIN_OUTPUT, 0)	  /* AB25 */
			AM62X_IOPAD(0x00ec, PIN_OUTPUT, 0)	  /* AA24 */
			AM62X_IOPAD(0x00f0, PIN_OUTPUT, 0)	  /* Y22  */
			AM62X_IOPAD(0x00f4, PIN_OUTPUT, 0)	  /* AA21 */
			AM62X_IOPAD(0x005c, PIN_OUTPUT, 1)	  /* R24  */
			AM62X_IOPAD(0x0060, PIN_OUTPUT, 1)	  /* R25  */
			AM62X_IOPAD(0x0064, PIN_OUTPUT, 1)	  /* T25  */
			AM62X_IOPAD(0x0068, PIN_OUTPUT, 1)	  /* R21  */
			AM62X_IOPAD(0x006c, PIN_OUTPUT, 1)	  /* T22  */
			AM62X_IOPAD(0x0070, PIN_OUTPUT, 1)	  /* T24  */
			AM62X_IOPAD(0x0074, PIN_OUTPUT, 1)	  /* U25  */
			AM62X_IOPAD(0x0078, PIN_OUTPUT, 1)	  /* U24  */
		>;
	};

	usb0_pins: usb0-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x008c, PIN_INPUT_PULLUP, 7)  /* L25 */
		>;
	};

	usb1_pins: usb1-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x017c, PIN_INPUT_PULLUP, 7)  /* AD22 */
		>;
	};

	main_gpio0_pins: main-gpio0-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0114, PIN_OUTPUT, 7)	  /* B24 */
			AM62X_IOPAD(0x0120, PIN_OUTPUT, 0)	  /* C24 */
		>;
	};

	main_gpio1_pins: main-gpio1-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x01a8, PIN_OUTPUT, 7)	  /* D20 */
		>;
	};
};

&mcu_pmx0 {
	mcu_i2c0_pins: mcu-i2c0-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0044, PIN_INPUT, 0)	  /* A8  */
			AM62X_IOPAD(0x0048, PIN_INPUT, 0)	  /* D10 */
		>;
	};

	som_eeprom_pins: som-eeprom-pins {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0000, PIN_OUTPUT, 7)	  /* A7 */
		>;
	};
};

&main_timer4 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_timer4_pins>;
	assigned-clocks = <&k3_clks 40 2>;
	assigned-clock-parents = <&k3_clks 40 5>;
};

&main_uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart0_pins>;
	status = "okay";
};

&main_uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart2_pins>;
	status = "okay";
};

&main_uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart4_pins>;
	status = "okay";
};

&main_uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart5_pins>;
	status = "okay";
};

&main_uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart6_pins>;
	status = "okay";
};

&main_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c0_pins>;
	clock-frequency = <400000>;
	status = "okay";

	tps65219: pmic@30 {
		compatible = "ti,tps65219";
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_pins>;
		reg = <0x30>;

		buck1-supply = <&vsys_5v0>;
		buck2-supply = <&vsys_5v0>;
		buck3-supply = <&vsys_5v0>;
		ldo1-supply = <&vdd_3v3>;
		ldo2-supply = <&buck2_reg>;
		ldo3-supply = <&vdd_3v3>;
		ldo4-supply = <&vdd_3v3>;

		interrupt-parent = <&gic500>;
		interrupts = <GIC_SPI 224 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		#interrupt-cells = <2>;

		system-power-controller;
		wakeup-source;
		ti,power-button;

		regulators {
			buck1_reg: buck1 {
				regulator-name = "VDD_CORE";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck2_reg: buck2 {
				regulator-name = "VDD_1V8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck3_reg: buck3 {
				regulator-name = "VDD_1V2";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1_reg: ldo1 {
				regulator-name = "VDD_SD_3V3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-allow-bypass;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo2_reg: ldo2 {
				regulator-name = "VDDA_0V85";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo3_reg: ldo3 {
				regulator-name = "VDDA_1V8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4_reg: ldo4 {
				regulator-name = "VDD_2V5";
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <2500000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};

	ram_temp: temperature-sensor@48 {
		compatible = "ti,tmp1075";
		reg = <0x48>;
		label = "ram_temp";
		vs-supply = <&vdd_3v3>;
	};

	som_eeprom: eeprom@50 {
		compatible = "atmel,24c32";
		pinctrl-names = "default";
		pinctrl-0 = <&som_eeprom_pins>;
		reg = <0x50>;
		pagesize = <32>;
		wp-gpios = <&mcu_gpio0 2 GPIO_ACTIVE_HIGH>;
		vcc-supply = <&vdd_3v3>;
	};
};

&main_i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c1_pins>;
	status = "okay";
};

&main_i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c2_pins>;
	status = "okay";
};

&mcu_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mcu_i2c0_pins>;
	status = "okay";
};

&main_spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_spi0_pins>;
	status = "okay";
};

&main_mcan0 {
	pinctrl-names = "default";
	pinctrl-0 = <&main_mcan0_pins>;
	status = "okay";
};

&cpsw3g {
	pinctrl-names = "default";
	pinctrl-0 = <&cpsw_pins>;
	status = "okay";
};

&cpsw_port1 {
	phy-mode = "rmii";
	phy-handle = <&ethphy>;
};

&cpsw_port2 {
	status = "disabled";
};

&cpsw3g_mdio {
	pinctrl-names = "default";
	pinctrl-0 = <&mdio_pins>;
	status = "okay";
};

&sdhci0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdhci0_pins>;
	status = "okay";

	mmc-pwrseq = <&emmc_pwrseq>;
	non-removable;
};

&sdhci1 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdhci1_pins>;
	status = "okay";

	vmmc-supply = <&vdd_3v3>;
	vqmmc-supply = <&vdd_sd>;
	disable-wp;
	no-1-8-v;
};

&dss {
	pinctrl-names = "default";
	pinctrl-0 = <&dss_pins>;
	status = "okay";
};

&dss_ports {
	port@1 {
		reg = <1>;

		dss_out: endpoint {
			remote-endpoint = <&hdmi_in>;
		};
	};
};

&usbss0 {
	ti,vbus-divider;
	status = "okay";
};

&usb0 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_pins>;
	dr_mode = "host";
	#address-cells = <1>;
	#size-cells = <0>;

	usbhub: hub@1 {
		compatible = "usb424,2514";
		reg = <1>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&usbss1 {
	ti,vbus-divider;
	status = "okay";
};

&usb1 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb1_pins>;
	dr_mode = "host";
	#address-cells = <1>;
	#size-cells = <0>;
};
