/dts-v1/;

#include "am3517-tam3517.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "VictronEnergy CCGX (with TAM3517 SOM)";
	compatible = "technexion,am3517-tam3517", "ti,am3517", "ti,omap3";

	aliases {
		display0 = &lcd0;
	};

	pwm9: dmtimer-pwm@9 {
		status = "okay";
		compatible = "ti,omap-dmtimer-pwm";
		ti,timers = <&timer9>;
		#pwm-cells = <3>;
		//ti,clock-source = <0x00>; /* high-frequency system clock (timer_sys_ck) */
		//ti,prescaler: Should be a value between 0 and 7, see the timers datasheet
	};

	// note: the path in sysfs is different than in 3.7!
	backlight: backlight {
		status = "okay";
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&backlight_pwm_pins>;
		pwms = <&pwm9 0 1000000 0>;

		// this doesn t work as I would expect, it always starts at zero it seems!
		brightness-levels = <  4  4  4  5  5  6  6  7  8  8  9 10 10 11 11 12 13 13 14 15
				      15 16 17 18 18 19 20 20 21 22 23 24 24 25 26 27 27 28 29 30
				      31 32 32 33 34 35 36 37 38 39 40 41 42 42 43 44 45 46 47 48
				      49 50 51 53 54 55 56 57 58 59 60 61 63 64 65 66 67 68 70 71
				      72 73 75 76 77 79 80 81 83 84 85 87 88 90 91 93 94 95 97 98
				      100>;
		default-brightness-level = <100>;
		default-on;
	};

#if 0
	beeper: beeper {
		compatible = "gpio-beeper";
		gpios = <&GPIOB 11 0>;
	};
#endif

	lcd0: display@0 {
		compatible = "samsung,lte430wq-f0c", "panel-dpi";
		label = "lcd";

		pinctrl-names = "default";
		pinctrl-0 = <&lcd_pins>;
		enable-gpios = <&gpio5 10 GPIO_ACTIVE_LOW>,		/* gpio_138 */
				<&gpio2 10 GPIO_ACTIVE_LOW>,		/* gpio_42 */
				<&gpio5 11 GPIO_ACTIVE_HIGH>;		/* gpio_139 */

		backlight = <&backlight>;

		port {
			lcd_in: endpoint {
				remote-endpoint = <&dpi_out>;
			};
		};

		panel-timing {
			clock-frequency = <9000000>;
			hactive = <480>;
			vactive = <272>;
			hfront-porch = <3>;
			hback-porch = <2>;
			hsync-len = <42>;
			vback-porch = <2>;
			vfront-porch = <3>;
			vsync-len = <11>;

			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		autorepeat;

		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys_pins &gpio_keys_pins2>;

		up {
			label = "up";
			gpios = <&gpio1 28 GPIO_ACTIVE_LOW>;	/* gpio_28 */
			linux,code = <KEY_UP>;
			gpio-key,wakeup;
		};

		right {
			label = "right";
			gpios = <&gpio5 9 GPIO_ACTIVE_LOW>;	/* gpio_137 */
			linux,code = <KEY_RIGHT>;
			gpio-key,wakeup;
		};

		down {
			label = "down";
			gpios = <&gpio5 24 GPIO_ACTIVE_LOW>;	/* gpio_152 */
			linux,code = <KEY_DOWN>;
			gpio-key,wakeup;
		};

		left {
			label = "left";
			gpios = <&gpio1 29 GPIO_ACTIVE_LOW>;	/* gpio_29 */
			linux,code = <KEY_LEFT>;
			gpio-key,wakeup;
		};

		middle {
			label = "space";
			gpios = <&gpio2 20 GPIO_ACTIVE_LOW>;	/* gpio_52 */
			linux,code = <KEY_SPACE>;
			gpio-key,wakeup;
		};

		escape {
			label = "escape";
			gpios = <&gpio1 26 GPIO_ACTIVE_LOW>;	/* gpio_26 */
			linux,code = <KEY_ESC>;
			gpio-key,wakeup;
		};

		enter {
			label = "enter";
			gpios = <&gpio4 31 GPIO_ACTIVE_LOW>;	/* gpio_127 */
			linux,code = <KEY_ENTER>;
			gpio-key,wakeup;
		};
	};
};

&omap3_pmx_core {

	backlight_pwm_pins: pinmux_backlight_pwm_pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x20B2, PIN_OUTPUT | MUX_MODE2)	/* gpmc_ncs2.gpt9_pwm_ev */
		>;
	};

	gpio_keys_pins: gpio_keys_pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x20B0, PIN_INPUT_PULLUP | MUX_MODE4) /* gpio_52, middle */
			OMAP3_CORE1_IOPAD(0x2166, PIN_INPUT_PULLUP | MUX_MODE4) /* gpio_137, right */
			OMAP3_CORE1_IOPAD(0x2184, PIN_INPUT_PULLUP | MUX_MODE4) /* gpio_152, down */
			OMAP3_CORE1_IOPAD(0x2152, PIN_INPUT_PULLUP | MUX_MODE4) /* gpio_127, enter */
		>;
	};

	i2c3_pins: pinmux_i2c3_pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x21c2, PIN_INPUT_PULLUP | MUX_MODE0) /* i2c3_scl.i2c3_scl */
			OMAP3_CORE1_IOPAD(0x21c4, PIN_INPUT_PULLUP | MUX_MODE0) /* i2c3_sda.i2c3_sda */
		>;
	};

	mmc1_pins: pinmux_mmc1_pins {
		pinctrl-single,pins = <
			0x114 (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_clk.sdmmc1_clk */
			0x116 (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_cmd.sdmmc1_cmd */
			0x118 (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_dat0.sdmmc1_dat0 */
			0x11a (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_dat1.sdmmc1_dat1 */
			0x11c (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_dat2.sdmmc1_dat2 */
			0x11e (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc1_dat3.sdmmc1_dat3 */
		>;
	};

	dss_dpi_pins: pinmux_dss_dpi_pins {
		pinctrl-single,pins = <
			0x0a4 (PIN_OUTPUT | MUX_MODE0)   /* dss_pclk.dss_pclk */
			0x0a6 (PIN_OUTPUT | MUX_MODE0)   /* dss_hsync.dss_hsync */
			0x0a8 (PIN_OUTPUT | MUX_MODE0)   /* dss_vsync.dss_vsync */
			0x0aa (PIN_OUTPUT | MUX_MODE0)   /* dss_acbias.dss_acbias */
			0x0ac (PIN_OUTPUT | MUX_MODE0)   /* dss_data0.dss_data0 */
			0x0ae (PIN_OUTPUT | MUX_MODE0)   /* dss_data1.dss_data1 */
			0x0b0 (PIN_OUTPUT | MUX_MODE0)   /* dss_data2.dss_data2 */
			0x0b2 (PIN_OUTPUT | MUX_MODE0)   /* dss_data3.dss_data3 */
			0x0b4 (PIN_OUTPUT | MUX_MODE0)   /* dss_data4.dss_data4 */
			0x0b6 (PIN_OUTPUT | MUX_MODE0)   /* dss_data5.dss_data5 */
			0x0b8 (PIN_OUTPUT | MUX_MODE0)   /* dss_data6.dss_data6 */
			0x0ba (PIN_OUTPUT | MUX_MODE0)   /* dss_data7.dss_data7 */
			0x0bc (PIN_OUTPUT | MUX_MODE0)   /* dss_data8.dss_data8 */
			0x0be (PIN_OUTPUT | MUX_MODE0)   /* dss_data9.dss_data9 */
			0x0c0 (PIN_OUTPUT | MUX_MODE0)   /* dss_data10.dss_data10 */
			0x0c2 (PIN_OUTPUT | MUX_MODE0)   /* dss_data11.dss_data11 */
			0x0c4 (PIN_OUTPUT | MUX_MODE0)   /* dss_data12.dss_data12 */
			0x0c6 (PIN_OUTPUT | MUX_MODE0)   /* dss_data13.dss_data13 */
			0x0c8 (PIN_OUTPUT | MUX_MODE0)   /* dss_data14.dss_data14 */
			0x0ca (PIN_OUTPUT | MUX_MODE0)   /* dss_data15.dss_data15 */
			0x0cc (PIN_OUTPUT | MUX_MODE0)   /* dss_data16.dss_data16 */
			0x0ce (PIN_OUTPUT | MUX_MODE0)   /* dss_data17.dss_data17 */
			0x0d0 (PIN_OUTPUT | MUX_MODE0)   /* dss_data18.dss_data18 */
			0x0d2 (PIN_OUTPUT | MUX_MODE0)   /* dss_data19.dss_data19 */
			0x0d4 (PIN_OUTPUT | MUX_MODE0)   /* dss_data20.dss_data20 */
			0x0d6 (PIN_OUTPUT | MUX_MODE0)   /* dss_data21.dss_data21 */
			0x0d8 (PIN_OUTPUT | MUX_MODE0)   /* dss_data22.dss_data22 */
			0x0da (PIN_OUTPUT | MUX_MODE0)   /* dss_data23.dss_data23 */
		>;
	};

	lcd_pins: pinmux_lcd_pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x216a, PIN_OUTPUT | MUX_MODE4)	/* sdmmc2_dat7.gpio_139 */
			OMAP3_CORE1_IOPAD(0x208A, PIN_OUTPUT | MUX_MODE4)	/* gpmc_a9.gpio_42 */
		>;
	};

	hecc_pins: pinmux_hecc_pins {
		pinctrl-single,pins = <
			OMAP3_CORE1_IOPAD(0x2214, PIN_OUTPUT | MUX_MODE0)		/* hecc1_txd.hecc1_txd */
			OMAP3_CORE1_IOPAD(0x2216, PIN_INPUT | MUX_MODE0)		/* hecc1_rxd.hecc1_rxd */
			/* CANbus driver enable. TODO: drive it instead of pulling. */
			OMAP3_CORE1_IOPAD(0x223e, PIN_OUTPUT_PULLUP | MUX_MODE4)	/* mcbsp2_clkx.gpio_117 */
		>;
	};

	uart2_pins: pinmux_uart2_pins {
		pinctrl-single,pins = <
			0x14a (PIN_INPUT | MUX_MODE0)		/* uart2_rx */
			0x148 (PIN_OUTPUT | MUX_MODE0)		/* uart2_tx */
		>;
	};

	uart3_pins: pinmux_uart3_pins {
		pinctrl-single,pins = <
			0x16e (PIN_INPUT | MUX_MODE0)		/* uart3_rx */
			0x170 (PIN_OUTPUT | MUX_MODE0)		/* uart3_tx */
		>;
	};
};

&omap3_pmx_core2 {
	gpio_keys_pins2: gpio_keys_pins2 {
		pinctrl-single,pins = <
			OMAP3430_CORE2_IOPAD(0x25F4, PIN_INPUT_PULLUP | MUX_MODE4)	/* gpio_26, esc */
			OMAP3430_CORE2_IOPAD(0x25F8, PIN_INPUT_PULLUP | MUX_MODE4)	/* gpio_28, up */
			OMAP3430_CORE2_IOPAD(0x25FA, PIN_INPUT_PULLUP | MUX_MODE4)	/* gpio_29, left */
		>;
	};
};

&hecc {
	status = "ok";

	// XXX: does a driver need to support this?
	pinctrl-names = "default";
	pinctrl-0 = <&hecc_pins>;
};

&davinci_emac {
	status = "ok";
};

&davinci_mdio {
	status = "ok";
};

&dss {
	status = "ok";

	pinctrl-names = "default";
	pinctrl-0 = <&dss_dpi_pins>;
	//vdda_video-supply = <&vdcdc3_reg>;

	port {
		dpi_out: endpoint {
			remote-endpoint = <&lcd_in>;
			data-lines = <24>;
		};
	};
};

&mmc1 {
	status = "ok";
	vmmc-supply = <&vmmc_fixed>;
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	cd-gpios = <&gpio4 30 GPIO_ACTIVE_HIGH>; /* 126 */
};

&mmc2 {
	status = "disabled";
};

&mmc3 {
	status = "disabled";
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	clock-frequency = <400000>;
	pinctrl-0 = <&i2c3_pins>;

	rtc@68 {
		compatible = "dallas,ds1307";
		reg = <0x68>;
	};
};

&uart2 {
	interrupts-extended = <&intc 73 &omap3_pmx_core OMAP3_UART2_RX>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	rts-gpio = <>;
};

&uart3 {
	interrupts-extended = <&intc 74 &omap3_pmx_core OMAP3_UART3_RX>;
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
};

// uart4 interrupts-extended = <&gic GIC_SPI 70 IRQ_TYPE_LEVEL_HIGH>;
