/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"
#include "bbb-dcan0.dtsi"
#include "bbb-dcan1.dtsi"
#include "bbb-spi1.dtsi"
#include "bbb-uart2.dtsi"
#include "bbb-uart4.dtsi"
#include "bbb-uart5.dtsi"

/ {
	model = "TI AM335x BeagleBone Black";
	compatible = "ti,am335x-bone-black", "ti,am33xx";
};

&am33xx_pinmux {
	pinctrl-names = "default";

	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			0x158 (PIN_INPUT | MUX_MODE2)	/* spi0_d1.i2c1_sda */
			0x15C (PIN_INPUT | MUX_MODE2)	/* spi0_cs0.i2c1_scl */
		>;
	};
};
&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
};

&tscadc {
	status = "okay";

	adc {
		ti,adc-channels = <0 1 2 3 4 5 6>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
	clock-frequency = <400000>;

	rtc2: pcf8523@68 {
		compatible = "nxp,pcf8523";
		reg = <0x68>;
	};
};
