&am33xx_pinmux {
	dcan1_pins: dcan1_pins {
		pinctrl-single,pins = <
			0x184 (PIN_INPUT_PULLUP | MUX_MODE2)   /* P9.24, dcan1_rx */
			0x180 (PIN_OUTPUT_PULLUP | MUX_MODE2)  /* P9.26, dcan1_tx */
		>;
	};
};

&dcan1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dcan1_pins>;
};
