/*
 * Copyright (C) 2018 Mans Rullgard <mans@mansr.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "sun7i-a20-einstein.dtsi"

/ {
	model = "Color Control GX2";
	compatible = "victronenergy,ccgx2",
		     "cubietech,einstein",
		     "allwinner,sun7i-a20";

	aliases {
		ethernet0 = &emac;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins>;

		status {
			label = "status";
			gpios = <&pio 1 2 GPIO_ACTIVE_HIGH>; /* PB2 */
			linux,default-trigger = "heartbeat";
		};
	};
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&can0_pins_b>;
	status = "okay";
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&emac_pins_c>;
	phy = <&phy0>;
	phy-mode = "mii";
	status = "okay";
};

&emac_sram {
	status = "okay";
};

&mdio {
	pinctrl-names = "default";
	pinctrl-0 = <&mdio_pins>;
	reset-gpios = <&pio 7 27 GPIO_ACTIVE_LOW>; /* PH27 */
	reset-delay-us = <100>;
	status = "okay";

	phy0: ethernet-phy@0 {
		reg = <0>;
	};
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins_a>, <&mmc0_cd_pins>;
	cd-gpios = <&pio 8 10 GPIO_ACTIVE_LOW>; /* PI10 */
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_a>;
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;
		read-only;
	};

	rtc1: pcf8523@68 {
		compatible = "nxp,pcf8523";
		status = "okay";
		reg = <0x68>;
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins_a>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins_a>;
	clock-frequency = <400000>;
	status = "okay";

	adc@34 {
		compatible = "maxim,max11607";
		reg = <0x34>;
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins_a>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins_b>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins_b>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pins_b>;
	status = "okay";
};

&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart6_pins_b>;
	status = "okay";
};

&uart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart7_pins_b>;
	status = "okay";
};

&usb_otg {
	dr_mode = "host";
	#address-cells = <1>;
	#size-cells = <0>;

	wireless-controller@1 {
		compatible = "usbbda,b720";
		reg = <1>;
		removable = <0>;
	};
};

&usbphy {
	usb1_vbus-supply = <&reg_usb1_vbus>;
	usb2_vbus-supply = <&reg_usb2_vbus>;
};

&reg_usb1_vbus {
	pinctrl-names = "default";
	pinctrl-0 = <&usb1_vbus_pins>;
	gpio = <&pio 8 2 GPIO_ACTIVE_HIGH>; /* PI2 */
	status = "okay";
};

&reg_usb2_vbus {
	pinctrl-names = "default";
	pinctrl-0 = <&usb2_vbus_pins>;
	gpio = <&pio 8 3 GPIO_ACTIVE_HIGH>; /* PI3 */
	status = "okay";
};

&pio {
	emac_pins_c: emac0@2 {
		pins = "PH8", "PA1", "PA2", "PH11",
		       "PH14", "PH15", "PH16", "PH17",
		       "PH18", "PH19", "PH20", "PH21",
		       "PH22", "PH23", "PH24", "PH25",
		       "PH26";
		function = "emac";
	};

	led_pins: led@0 {
		pins = "PB2";
		function = "gpio_out";
	};

	mdio_pins: mdio@0 {
		pins = "PH27";
		function = "gpio_out";
	};

	mmc0_cd_pins: mmc0_cd_pins@0 {
		pins = "PI10";
		function = "gpio_in";
	};

	usb1_vbus_pins: usb1_vbus {
		pins = "PI2";
		function = "gpio_out";
	};

	usb2_vbus_pins: usb2_vbus {
		pins = "PI3";
		function = "gpio_out";
	};
};
